---
---

<!DOCTYPE html>
<html class="">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.data.settings.seo.description }}">
	<meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
	<meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

	<title>{{ site.data.settings.title }}</title>

	<link rel="stylesheet" href="/res/css/all.css">

	<!-- {% include analytics.html %} -->
</head>
<body>

{% include header.html %}

{% include homepage.html %}

{% include bullets.html %} 

{% include grid.html %} 

{% include article.html %}

{% include maps.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/res/js/functions.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(52.406281, -1.514278),
        mapCenter = new google.maps.LatLng(52.406281, -1.514278),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 18,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">Coventry Pokemon League & Coventry Games</h1>'+
          '<div id="bodyContent"'+
          '<p>Unit 8 City Arcade, Coventry, CV1 3HW</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Coventry Pokemon League / Coventry Games'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>
<link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
</body>
</html>
